./WPFTutorial_01/WPFTutorial/WPFTutorial/obj/project.assets.json
./WPFTutorial_01/WPFTutorial/WPFTutorial/obj/Debug/net8.0-windows/WPFTutorial_MarkupCompile.lref
WPFTutorial_01/WPFTutorial/WPFTutorial/obj/project.packagespec.json
